<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RodrigoSystems</title>
    <!-- Importando a folha de estilo do bootstrap -->
    <link
            rel="stylesheet"
            th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}"
    />
    <!-- Importando o fontawesome -->
    <link rel="stylesheet" th:href="@{/fontawesome5.15.3/css/all.min.css}"/>
    <!-- Importando a folha de estilo própria -->
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
<!-- Navbar colapsável -->
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <!-- Link para a raiz -->
        <a class="navbar-brand" th:href="@{/}">RodrigOSystemS</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/funcionario/list}">Funcionários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cargo/list}">Cargos</a>
                </li>
            </ul>
            <span class="navbar-text">
            <strong>Bem-Vindo ao <mark>RodrigOSystemS</mark></strong>
          </span>
        </div>
    </div>
</nav>
<!-- Botão que leva a página para criar novos funcionários -->
<div class="container edit-modal">
    <a
            th:href="@{/funcionario/add}"
            class="btn btn-outline-dark"
            id="addBtn">
        <span><i class="fas fa-plus-circle btn-outline-dark"></i></span
        ></a>
</div>
<!-- Tabela para mostrar os dados de todos os funcionários -->
<div class="container gap-5">
    <div class="table-responsive">
        <table
                class="table table-light table-bordered table-striped table-hover align-middle"
        >
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col" colspan="3">Cargo</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterando todos as linhas encontrados no tabela de funcionários -->
            <tr th:each="funcionario: ${funcionarios}">
                <th scope="row" th:text="${funcionario.id}"></th>
                <td th:text="${funcionario.nome}"></td>
                <td th:text="${funcionario.email}"></td>
                <td th:text="${funcionario.telefone}"></td>
                <td th:text="${funcionario.cargo.nome}"></td>
                <td class="icons">
                    <!-- Botões para editar e/ou exclui uma linha específica -->
                    <a
                            class="btn btn-outline-success"
                            th:href="@{/funcionario/edit/{id}(id=${funcionario.id})}"
                    ><span><i class="fas fa-edit"></i></span
                    ></a>
                </td>
                <td class="icons">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <a
                                class="btn btn-outline-danger">
                            <span><i class="fas fa-trash"></i></span
                            ></a>
                    </button>
                </td>
                <!--PROBLEMA DE PERFORMANCE - UM MODAL PARA CADA LINHA!!!! -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Realmente Deseja Deletar o
                                    Funcionário?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary modal-buttons" data-bs-dismiss="modal">
                                    <a class="btn btn-outline-secondary">
                                        <span><i class="fas fa-window-close"></i></span>
                                    </a>
                                </button>
                                <button type="button" class="btn modal-buttons" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                    <a
                                            class="btn btn-outline-danger"
                                            th:href="@{/funcionario/delete/{id}(id=${funcionario.id})}">
                        <span><i class="fas fa-trash"></i></span
                        ></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Importando os scripts do bootstrap -->
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>
</body>
</html>
