<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RodrigoSystems</title>
    <!-- Importando a folha de estilo do bootstrap -->
    <link
            rel="stylesheet"
            th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}"
    />
    <!-- Importando o fontawesome -->
    <link rel="stylesheet" th:href="@{/fontawesome5.15.3/css/all.min.css}"/>
    <!-- Importando a folha de estilo própria -->
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
<!-- Navbar colapsável -->
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <!-- Link para a raiz -->
        <a class="navbar-brand" th:href="@{/}">RodrigOSystemS</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/funcionario/list}">Funcionários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cargo/list}">Cargos</a>
                </li>
            </ul>
            <span class="navbar-text">
            <strong>Bem-Vindo ao <mark>RodrigOSystemS</mark></strong>
          </span>
        </div>
    </div>
</nav>
<!-- Formulário que ativa o mapeamento do controlador para salvar, ou seja, cria um novo Funcionario na tabela -->
<form
        action="#"
        th:action="@{/cargo/save}"
        method="post"
        th:object="${cargo}"
        class="form-floating"
>
    <div th:if="${erro}" class="alert alert-danger">
        <span th:text="${erroMsg}"></span>
    </div>
    <div class="input group">
        <div class="form-floating mb-3">
            <input
                    type="number"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Identificador"
                    disabled
                    th:field="*{id}"
            >
            <label for="floatingInput">ID</label>
        </div>
        <div class="form-floating mb-3">
            <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Nome"
                    th:field="*{nome}"
                    required
            >
            <label for="floatingInput">Nome</label>
        </div>
        <div class="submit-btn">
            <a th:href="@{/funcionario/list}">
                <button type="button" class="btn mb-3">Voltar</button>
            </a>
            <button type="submit" class="btn mb-3">Criar</button>
        </div>
    </div>
</form>
<!-- Importando os scripts do bootstrap -->
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>
</body>
</html>
