:root {
  --purple-1: #f9f0ff;
  --purple-2: #efdbff;
  --purple-3: #d3adf7;
  --purple-4: #b37feb;
  --purple-5: #9254de;
  --purple-6: #722ed1;
  --purple-7: #531dab;
  --purple-8: #391085;
  --purple-9: #22075e;
  --purple-10: #120338;
  --margin-default: 5vh;
  --padding-default: 5vh;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--purple-10);
}
body {
  background-color: var(--purple-1);
}
nav,
container-fluid {
  background-color: var(--purple-1) !important;
  margin-bottom: 8vh;
  margin-top: 2vh;
}
.navbar-brand {
  font-size: 1.75rem !important;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--purple-8) !important;
  margin-left: 1vw;
}
.nav-link {
  color: var(--purple-7) !important;
  font-weight: bold;
}
.mark,
mark {
  background-color: var(--purple-7) !important;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--purple-1) !important;
  padding: 0.3em;
  border-radius: 15px;
}
.display-4 {
  line-height: 1.8;
}
.display-5 {
  margin-top: var(--margin-default);
  margin-bottom: 10vh;
  text-align: center;
}
.display-5 a {
  cursor: pointer !important;
  text-decoration: underline !important;
}
.display-5 a:visited {
  color: var(--purple-1);
}
.table-light {
  --bs-table-striped-bg: var(--purple-4) !important;
}
tr {
  background-color: var(--purple-3) !important;
}

tr .table > :not(caption) > * > * {
  background: var(--purple-3) !important;
}

.icons{
    text-align: center !important;
    cursor: pointer;
}

.fas {
    font-size: 1.2rem;
}

.fa-trash{
    color: #f5222d;
}
.fa-edit{
    color: #389e0d;
}

.diplay-5 .title {
  margin-bottom: var(--margin-default) !important;
  font-weight: bolder;
  background-color: var(--purple);
}
#funcs {
  background-color: var(--purple-6);
  margin-bottom: var(--margin-default) !important;
  --bs-gutter-x: 0;
}
#funcs-text {
  margin-bottom: var(--margin-default) !important;
}
#funcs-text strong {
  color: var(--purple-1) !important;
}
.footer {
  background-color: var(--purple-2);
  margin-top: var(--margin-default) !important;
  padding-top: var(--padding-default) !important;
  padding-bottom: var(--padding-default) !important;
}
ul {
  list-style: none;
}
.col-3{
  width: clamp(50%,50%,100%) !important;
}
th .icons{
    border: none
}
